@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yeseva One", serif;
  position: relative;
  max-width: 1980px;
  max-height: 850px;
  background: rgb(255, 255, 255);
}

.heading-section {
  max-width: 1320px;
  border: 5px solid red;
  margin: 0 auto;
}

.border {
  position: absolute;
  left: 156px;
  right: 360px;
  top: 27px;
  width: 4px;
  height: 124px;
  border-radius: 5px;
  background: rgb(255, 89, 89);
}
.stay {
  position: absolute;
  width: 520px;
  height: 160px;
  margin-left: 20px;
}
